@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .animate-fade-in {
    animation: fadeIn 1s ease-in;
  }

  .delay-150 {
    animation-delay: 150ms;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

html {
  scroll-behavior: smooth;
}
